<% layout('./layout/page.ejs') %>

<h1><%= title %></h1>
<p>Welcome to <%= title %></p>
<p>Счетчик: <%= counter %></p>

<% if(user) {%>
    <!--Случай залогиненного пользователя-->
    <h4>Рады приветствовать!</h4>
<% }else{ %>
    <!--Случай не залогиненного пользователя-->
    <h4>Здравствуйте, пройдите, пожалуйста, авторизацию!</h4>
<% } %>
    